$bg: #f0f0f3;


body {
  background: $bg;
  font-family: 'Abel', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

h1, h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  color: #333;
}